
.wp-admin .resmio-admin-menu table.form-table > tbody > tr > th {
	display: none;
}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .button-primary {
	background-color: #00a7c4;
	text-shadow: none;
	color: #ffffff;
	border-color: #00a7c4;
	box-shadow: none;
}
.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .resmio-button-update-end {
	background-color: #22ccaa;
	text-shadow: none;
	color: #ffffff;
	border-color: #22ccaa;
	box-shadow: none;
}
.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options a {
    display: inline-block;
}
i.resmio-editor-icon { 
	background-image: url('../img/resmio-icon.png');
}
.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .wrapper { 
  	overflow:hidden;
  	padding-bottom: 7px;
	padding-top: 7px;
}
.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .wrapper-head-1 { 
  	overflow:hidden;
  	background: #d2d2d2;
  	padding: 5px 15px 5px 15px;
  	margin-left: -15px;
}
.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .wrapper-head-2 { 
  	overflow:hidden;
  	background: #d2d2d2;
  	padding: 5px 15px 5px 15px;
}
@media only screen and (max-width: 400px) {
	/* width <= 400px */
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .form-table td input[type="text"] {
		border-radius:5px;
		width: 202px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .form-table td textarea {
		width: 202px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .input-field-id {
		width: 150px;
		margin-right: 10px;
		margin-top: 9px;
		float: left;
	}
}
@media only screen and (min-width: 401px) and (max-width: 500px) {
	/* 401px <= 500px */
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .form-table td input[type="text"] {
		border-radius:5px;
		width: 280px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .form-table td textarea {
		width: 280px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .input-field-id {
		width: 150px;
		margin-right: 10px;
		margin-top: 9px;
	}
}
@media only screen and (min-width: 501px) and (max-width: 782px) {
	/* 501px <= 782px */
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .form-table td input[type="text"] {
		border-radius:5px;
		width: 350px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .form-table td textarea {
		width: 350px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .input-field-id {
		width: 100px;
		margin-right: 10px;
		margin-top: 9px;
	}
}
@media only screen and (max-width: 782px) {
	/* width <= 782px */
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .button-primary {
	margin-top: 12px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-shortcode {
	color: #00a7c4;
	margin-left: 90px;
	margin-top: 0px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-values {
	float:left;
	width:85px;
	margin-top: 0px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-values-2 {
	float:left;
	width: 85px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-values-3 {
	float:left;
	width: 85px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .input-field-values {
	padding-top: 0px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .float-left-id { 
	display: none;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .three-half { 
  	display: none;
	}
	textarea {
		border-radius:5px;
	}
}
@media only screen and (min-width: 783px) {
	/* width >= 783px */
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .one {
  		float:left; 
  		width:490px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-shortcode {
	color: #00a7c4;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-values {
	float:left;
	width:150px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-values-2 {
	float:left;
	width: 60px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-values-3 {
	float:left;
	width: 60px;
	margin-left:80px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .input-field-values-2 {
	float:left;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .input-field-id {
	margin-right: 10px;

	float: left;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .float-left-id { 
  	float:left; 
  	margin-right: 15px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .one-half { 
	display: none;
	}
	input[type=text]{;
		border-radius:5px;
	}
	textarea {
		border-radius:5px;
	}
}
@media only screen and (max-width: 1295px) {
	/* width <= 1295px */
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .two { 
  		display: none;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .resmio-button-update {
	background-color: #22ccaa;
	text-shadow: none;
	color: #ffffff;
	border-color: #22ccaa;
	box-shadow: none;
	margin-top: 10px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .wrapper-head-1 { 
  	display: none;
	}
}
@media only screen and (min-width: 1296px) {
	/* width >= 1296px */
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .two { 
  		overflow:hidden;
  		float:left;
  		width:320px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .wrapper-head-2 { 
  	display: none;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .resmio-button-update {
	background-color: #22ccaa;
	text-shadow: none;
	color: #ffffff;
	border-color: #22ccaa;
	box-shadow: none;
	margin-left: 10px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .float-left { 
  	float:left; 
	}
}
@media only screen and (min-width: 1050px) {
	/* width >= 1050px */
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .widget-button-small { 
  		display: none;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-shortcode-w {
	color: #00a7c4;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-shortcode-widget {
		float: left;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-shortcode-b {
	  	float: left;
	  	color: #00a7c4;
	  	margin-top: 20px;
	  	margin-left: 20px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-shortcode-button {
		float: left;
		margin-top: 10px;
		margin-left: 150px;
	}
}
@media only screen and (max-width: 1049px) {
	/* width <= 1049px */
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-shortcode-w {
		display: none;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-shortcode-button {
		display: none;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-shortcode-b {
		display: none;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-shortcode-w-2 {
		color: #00a7c4;
		margin-left: 170px;
		margin-bottom: 30px;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-shortcode-b-2 {
	  	color: #00a7c4;
	  	float: left;
	}
	.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-shortcode-button-2 {
		float: left;
		width: 170px;
	}
}

.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .three-half { 
  	overflow:hidden;
  	float:left;
}
.wp-admin .resmio-admin-menu .resmio-admin-menu-api-options .label-for-shortcode-value {
  	width:250px;
}

img.phone{
	display: inherit;
	float: left;
	height: 0px;
	width: 0px;
	margin-top: 4px;
	margin-left: 2px;
    padding:3px 13px 12px 4px;
	background-image: url("../img/phone.svg");
}
img.email{
  	display: inherit;
  	float: left;
  	height: 0px;
	width: 0px;
	margin-top: 4px;
    padding:0px 20px 15px 0px;
  	background-image: url("../img/email.svg");
}
img.facebook{
	background-repeat: no-repeat;
  	display:inherit;
  	float: left;
  	height: 0px;
	width: 0px;
	margin-top: 4px;
    padding:0px 20px 15px 0px;
  	background-image: url("../img/facebook.svg");
}
img.google-plus{
	background-repeat: no-repeat;
  	display:inherit;
  	float: left;
  	height: 0px;
	width: 0px;
	margin-top: 4px;
    padding:0px 20px 15px 0px;
  	background-image: url("../img/google-plus.svg");
}
#example-page-resmio {
	color: #333; background: #e5e5e5;
}
 
#wrapper-resmio {
	/*font-family: 'Calibri', 'sans-serif';*/
	width: 850px; 
	margin: auto; 
	text-align: left; 
	background: #ffffff;
	padding: 20px 20px 20px 20px;
}

#header-resmio {
	height: 150px; 
	padding: 0px;
}

#main-resmio {
	width: 350px; 
	padding: 20px; 
	float: left;
}

@media screen and (max-width: 800px) {
	#main-resmio { 
    float: none;
    width:auto;
    height:auto;
  }
}

#sidebar-resmio {
	width: 300px; 
	padding: 20px; 
	float: left;
	overflow:hidden;
}

#footer-resmio {
	clear: both; 
}

p.thick-resmio {
    font-weight: bold;
}

